# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# system files
tmp
.DS_Store

# IDEA files
.idea

# Dependency directories
node_modules/
jspm_packages/